:root {
	--theme-color: #a634e0;
	--light-background-color: #f2e9df;
	--dark-background-color: #0D353F;
	--white: #FFFFFF;
 	--black: #000000;
}

/*
Make the border and padding be counted as part of the element's size.
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 1rem;
	background: var(--white);
}

/* Paragraphs */
p {
	text-align: justify;
	line-height: 1.5;
}

/* Titles*/
h1, h2, h3, h4, h5, h6 {
	color: var(--black);
}

h1 { font-size: 4rem;}
h2 { font-size: 2rem; }
h3 { font-size: 1.50rem; }
h4 { font-size: 1.25rem; }
h5{
	font-size: 1rem;
	font-weight: 100;
}

header {
	width: 100%;
	padding: 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0;
	background-color: var(--dark-background-color);
}

header .logo {
	max-height: 10vh;
	padding: 1rem 0;
	padding-left: 4rem;
	cursor: pointer;
	margin-left: auto;
}

header nav ul {
	padding: 0 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

header nav li {
	margin-right: 4rem;
}

header nav a {
	text-decoration: none;
	color: var(--white);
	font-size: 1.5rem;
}

header nav a:hover{
	color: var(--theme-color);
}

.intro{
	position: relative;
	width: 100%;
	height: 100vh;
	background: var(--dark-background-color);
	display: flex;
	align-items: start;
	flex-direction: column;
}

.intro .content{
	width: 100%;
	max-width: 40rem;
	margin: 0 10rem;
	padding: 0 0;
	display: flex;
	align-items: center;
	text-align: left;
}

.intro .content h1{
	font-size: 6rem;
	margin-top: 6rem;
	margin-bottom: 0;
	color: var(--white);
}

.intro .content p{
	color: var(--white);
	text-align: left;
	margin: 4rem 0;
}

.intro .content a{
	background: var(--white);
	padding: 1rem 1.5rem;
	color: var(--theme-color);
	text-decoration: none;
	border-radius: 2rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.intro .content a:hover{
	background: var(--theme-color);
	color: var(--white);
}

.theme-color{
	color: var(--theme-color);
}

.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.team-content{
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}

.team-content img{
	width: 50%;
	height: auto;
	border-radius: 2rem;
	margin-bottom: 1rem;
}

.team-content .center h1{
	color: var(--black);
	text-align: center;
}

.team-content .icon i{
	display: inline-block;
	color: var(--theme-color);
	font-size: 2rem;
	margin: 0 1rem;
	margin-bottom: 2rem;
}

.team-content .icon i:hover{
	transform: scale(1.2);
}

.team-content .box h2{
	color: var(--black);
}

.team-content .box h5{
	color: var(--dark-background-color);
}

.explore {
	position: relative;
	width: 100%;
	height: 100vh;
	background: var(--white);
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.explore-content img{
	width: 60%;
	height: auto;
	margin: 4rem 0;
}

.explore-content h1{
	margin-top: 8rem;
}

.explore-content a {
	background: var(--theme-color);
	padding: 1rem 1.5rem;
	margin-bottom: 8rem;
	color: var(--white);
	text-decoration: none;
	border-radius: 2rem;
	font-weight: bold;
	font-size: 1.5rem;
}

#icicle-plot {
	width: 100%;
	height: auto;
  }

.axis-label {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 1rem;
}

.histogram-title {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 2rem;
}